@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;

@{
    var userClaims = Context.User.Claims;
    var claimsOfType = userClaims.Where(c => c.Type == ClaimTypes.Sid).ToList();
    // 列印出所有符合條件的 Claims 資訊
    string sid = claimsOfType[0].Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>晉瑜</title>
    <link rel="icon" href="~/companyicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/companyicon.ico" type="image/x-icon">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/css/adminlte.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <link href="~/lib/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />

    @await RenderSectionAsync("css", required: false)
    <style>
        .text-center {
        display: block; /* 將元素轉換為區塊元素 */
            margin-right: 50px;
        }
    </style>
</head>
<body class="sidebar-mini" style="height:auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links 中上方-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" >
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                @*   <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
                </li>*@
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-slide="true" href="@Url.Action("LogOut", "Ajax")">
                        <i class="fas fa-sign-out-alt">登出</i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/home/index" class="brand-link">
                <img src="~/dist/img/companyicon.png" alt="晉瑜" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light text-center">晉瑜</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        @{
                            var Account = Context.Session.GetString("Account");
                        }
                        <a href="#" class="d-block">@Account</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item" name="admin" hidden>
                            <a href="/Admin/User_list" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    權限管理
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Role_apply" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    權限申請
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" name="KY-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    觀音廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="KY-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=KY-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KY-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=KY-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KY-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=KY-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KY-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=KY-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KY-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=KY-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>  @*觀音廠*@
                        <li class="nav-item" name="BL-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    八里廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="BL-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=BL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="BL-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=BL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="BL-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=BL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="BL-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=BL-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="BL-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=BL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>  @*八里廠*@
                        <li class="nav-item" name="QX-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    全興廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="QX-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=QX-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="QX-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=QX-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="QX-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=QX-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="QX-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=QX-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="QX-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=QX-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>  @*全興廠*@
                        <li class="nav-item" name="ZB-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    彰濱廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="ZB-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=ZB-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="ZB-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=ZB-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="ZB-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=ZB-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="ZB-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=ZB-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        @*<a href="~/Mill/Mill_Report" class="nav-link active">*@
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="ZB-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=ZB-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>

                            </ul>
                        </li>  @*彰濱廠*@
                        <li class="nav-item" name="KH-PCC-LH" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    高雄廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="KH-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=KH-PCC-LH" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KH-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=KH-PCC-LH" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KH-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=KH-PCC-LH" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KH-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=KH-PCC-LH&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        @*<a href="~/Mill/Mill_Report" class="nav-link active">*@
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="KH-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=KH-PCC-LH" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>

                            </ul>
                        </li>  @*高雄廠*@
                        <li class="nav-item" name="LD-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    龍德廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="LD-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=LD-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LD-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=LD-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LD-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=LD-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LD-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=LD-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231" class="nav-link">
                                        @*<a href="~/Mill/Mill_Report" class="nav-link active">*@
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LD-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=LD-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>  @*龍德廠*@
                        <li class="nav-item" name="LZ-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    利澤廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="LZ-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=LZ-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LZ-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=LZ-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LZ-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=LZ-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LZ-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=LZ-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        @*<a href="~/Mill/Mill_Report" class="nav-link active">*@
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="LZ-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=LZ-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>
   
                            </ul>
                        </li>  @*利澤廠*@
                        <li class="nav-item" name="HL-T1HIST" hidden>
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy "></i>
                                <p>
                                    花蓮廠
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" name="HL-tPower" hidden>
                                    <a href="/TotalPower/TotalPowerShow?factoryId=HL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>總電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="HL-PowerList" hidden>
                                    <a href="/Power/PowerList?factory=HL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>用電量</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="HL-AirCompList" hidden>
                                    <a href="/AirComp/AirCompList?factory=HL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>空壓機</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="HL-Mill" hidden>
                                    <a href="/Mill/Mill_Report?factoryId=HL-T1HIST&day=@DateTime.Now.ToString("yyy-MM-dd")&millId=%231%232" class="nav-link">
                                        @*<a href="~/Mill/Mill_Report" class="nav-link active">*@
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>磨機日報</p>
                                    </a>
                                </li>
                                <li class="nav-item" name="HL-MachineMain" hidden>
                                    <a href="/MachineMain/car_History?factoryId=HL-T1HIST" class="nav-link">
                                        <i class=" far fa-circle nav-icon"></i>
                                        <p>發貨管理</p>
                                    </a>
                                </li>

                            </ul>
                        </li>  @*花蓮廠*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>+++
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
        </footer>
        <div id="sidebar-overlay"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/pages/dashboard3.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>
    <!-- DataTables  & Plugins -->

    <script src="~/lib/datatables/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colvis.min.js"></script>
    <script src="~/lib/datatables-select/js/datatables.select.min.js"></script>
    <script src="~/lib/datatables-fixedcolumns/js/datatables.fixedcolumns.min.js"></script>


    <!-- Page specific script -->
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            var url = window.location;
            var account = "@Account";
            var sid = "@sid";
            if (account == "") {
                window.location.href = '@Url.Content("~/Login/LoginList")';
            }
            console.log("Session--" + account);
            //console.log("cookie--" + sid);
            // for single sidebar menu
            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('active');

            // for sidebar menu and treeview
            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview")
                .css({ 'display': 'block' })
                .addClass('menu-open').prev('a')
                .addClass('active');

            var state = 0;
            $.ajax({
                url: '@Url.Content("~/ajax/LoadPage")',
                method: 'POST',
                data: { 'account': account },
                success: function (res) {
                    //console.log(res.page);console.log(res.Sub);console.log(res);
                    res.page.some(function (v) {
                        if (v == "admin") {
                            $("li:hidden").attr('hidden', false);
                            state = 1;
                            return true;
                        }
                        $("[name=" + v + "]").attr('hidden', false);
                    })
                    if (state != 1) {
                        res.Sub.forEach(function (v) {
                            $("[name=" + v + "]").attr('hidden', false);
                        })
                    }
                }
            })

        });
    </script>
</body>
</html>
